
{# 登录 #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body %}
        <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
    	<div id="fh5co-main">
			<div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
				<h2 class="fh5co-narrow-content fh5co-heading animate-box" data-animate-effect="fadeInLeft">Please Login</h2>
				<form method="post" action="/user/login">
                {% csrf_token %}
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Phone">
									</div>
                                    <div class="form-group">
										<input type="text" class="form-control" placeholder="Password">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="submit" class="btn btn-primary btn-md" value="Login">
										<a href="{% url 'user:register' %}" type="button" style="float: right;"  class="btn btn-primary btn-md">Register</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
			<div id="map"></div>
		</div>

{% endblock %}
